<%= form_for [@user, @post], url: user_posts_path(@user, @post) do |f| %>
  <%= render 'shared/error_messages', object:(@post) %>
  <div class="field">
    <%= f.text_area :content, placeholder: "What's on your mind?" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary"%>
<% end %>
